/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    border-bottom: 1px ;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
}

.main-content {
    padding: 20px;
    width: 100%; /* Increase the width of the left content area */
    float: left;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    border-top: 1px solid ;
}

// Include custom styles
@import "custom";

/* Custom styles */
.sidebar {
    width: 25%; /* Adjust the width here as needed */
    padding: 20px;
    background-color: #f1f1f1;
    float: right;
    magin-top: 50px; /* Add some margin to the top */
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        margin-right: 0;
        float: none;
    }

    .main-content {
        width: 100%;
        margin-right: 0;
        float: none;
    }
    
}


