.container {
    max-width: 1000px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-item {
    width: calc(50% - 10px);
}

.flex-item-right {
    text-align: right;
}

.center-text {
    text-align: center;
}
/* Custom styles */
.sidebar {
    width: 400px; /* Adjust the width here as needed */
    float: right;
    padding: 10px;
    background-color: #f1f1f1;
}

.main-content {
    margin-right: 420px; /* Adjust this to match sidebar width */
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        margin-right: 0;
    }

    .main-content {
        margin-right: 0;
    }
}
