---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div class="main-content">
      {{ content }}
    </div>
    
    <aside class="sidebar">
      <h2>Sidebar</h2>
      <p>This is the right sidebar content. You can add more content here.</p>
    </aside>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
