---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div class="container">
      <div class="main-content">
        {{ content }}
      </div>
      
      <aside class="sidebar">
        <h2>Sidebar</h2>
        <p>This is the right sidebar content. You can add more content here.</p>
        <img src="{{ site.url }}/images/personal.jpg" alt="Zhiwen Tian" style="width: 150px; height: 150px; border-radius: 50%;">
      </aside>
    </div>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
